
{{#>default}}
  <main>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus perspiciatis dolor facilis explicabo praesentium! Illum veritatis perspiciatis veniam pariatur numquam corrupti nisi atque minima, deserunt totam exercitationem facilis non velit.
  </main>
{{/default}}
