<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta class="description" name="description" content="{{ htmlWebpackPlugin.options.description }}">
</head>

<body>
  {{> @partial-block }}
</body>

</html>
